/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Configuration */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

a,
li,
button {
  all: unset;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

img {
  cursor: pointer;
}

/* Variables */
:root {
  --bg-color: #151515;
  --text-color: white;
}

/*  */
.nav {
  width: 75%;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 75%;
  border-radius: 8px;
  text-align: left;
  transition: 0.3s;
  gap: 2rem;
  height: 100%;
}

.nav-link {
  color: var(--text-color);
  font-size: 24px;
  padding-left: 4rem;
}

.picture_profil {
  height: 48px;
  width: 48px;
  margin: 1rem;
  border-radius: 8px;
}

.nav-menu.active {
  left: 0;
}
