/* Imports */


/* Configuration */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li, button, img {
    all: unset;
    text-decoration: none;
    cursor: pointer;
}

/* Variables */
:root {
    --bg-color: #151515;
    --text-color: white;
}

/* Off screen menu */
.off-screen-menu {
    background-color: var(--bg-color);
    height: 100vh;
    width: 80%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: 0.5s ease;
    gap: 2rem;
}

.off-screen-menu > img {
    width: 48px;
    height: 48px;
    border-radius: 16px;
}

.off-screen-menu.active {
    right: 0;
}

/* Nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: var(--bg-color);
}